<div id='card-gold' class="card rounded-full z-30 {% if display is defined and not display %} hidden {% endif %}">
	<div
		class="card-content relative overflow-hidden {% if card.type.value == 'dark' %} text-white {% else %} text-black {% endif %}">

		{# Type de la carte #}
		<img
		src="/assets/template_cards/gold.webp" alt="gold.png" class="relative z-10 w-full h-auto user-drag-none">

		{# Nom de la carte #}
		<div class="absolute flex items-center font-GillSans font-sem z-20 top-[14px] left-[68px] text-[23px] h-[30px] text-stroke line">
			<p class="card-name leading-none">{{ card.name }}</p>
		</div>

		{# PV #}
		<p class="absolute font-GillSans font-bold z-20 top-[12px] right-[45px] text-[8px] tracking-tighter text-black text-stroke">PV
			<span class="card-hp text-[23px] font-GillSans font-sem tracking-tighter">{{ card.hp }}</span>
		</p>

		{# Energie #}
		<div class="absolute top-[15px] right-[16.5px] z-30 w-[26px] h-[26px]">
			<div class="relative rounded-full bg-white flex justify-center items-center">
				<img src="/assets/energies/{{ card.type.name|lower }}.png" alt="energy.png">
			</div>
		</div>

		{# Image du pokemon #}
		<div class="absolute top-0 p-[12px] border-black h-full w-full bg-transparent user-drag-none">
			<img draggable="false" src="{{ asset('images/cards/' ~ card.imagePath) }}" alt="Image carte" class="card-img h-full w-full object-cover">
		</div>

		{# Attaques de la carte #}
		<div class="attack-content-gold flex justify-center flex-col gap-3 items-center absolute z-20 bottom-[74px] left-[24px] h-[160px] w-[295px] p-1">
			{% set index = 0 %}
			{% for attack in card.attacks %}
				{% set index = index + 1 %}
				<div class="flex flex-col w-full">
					<div class="flex justify-between w-full align-baseline">
						<div class="flex items-center gap-6">
							<div class="energies-{{index}} flex w-[80px] items-center gap-[2px]" data-energy="{{ card.type.name|lower }}">
								{% if attack.cost > 0 %}
									{% for i in 1..attack.cost %}
										<div class="relative w-[17.5px] h-[17.5px] rounded-full bg-white flex justify-center items-center">
											<img src="/assets/energies/{{ card.type.name|lower }}.png" alt="energy.png" class="atk-energy w-[17.5px] h-[17.5px] rounded-full">
										</div>
									{% endfor %}
								{% endif %}
							</div>
							<p class="card-atk{{index}}-title font-GillSans font-sem text-[18px] leading-[18px] text-stroke">{{ attack.title }}</p>
						</div>
						<p class="card-atk{{index}}-damage font-GillSans font-semibold text-[17px] leading-[18px] tracking-tighter text-stroke">{{ attack.power }}</p>
					</div>
					<p class="card-atk{{index}}-description font-GillSans font-medium text-[10px] text-stroke mt-1 break-words leading-none">{{ attack.description }}</p>
				</div>
			{% endfor %}
		</div>

		{# Faiblesse #}
		<div class="absolute z-20 bottom-[54.5px] left-[20px] w-[160px] text-[7px] items-center">
			<p class="text-black">Faiblesse</p>
		</div>

		{# Résistance #}
		<div class="absolute z-20 bottom-[54.5px] left-[107px] text-[7px] items-center overflow-hidden">
			<p class="text-black">Résistance</p>
		</div>

		{# Retraite #}
		<div class="absolute flex z-20 bottom-[54.5px] left-[210px] text-[7px] items-center overflow-hidden gap-1">
			<p class="text-black">Retraite</p>
			<img src="/assets/energies/{{ card.type.name|lower }}.png" alt="energy.png" class="w-[12px] h-[12px] rounded-full">
		</div>

		{# Illustration #}
		<div class="absolute flex flex-col z-20 bottom-[20px] left-[20px] text-black text-stroke-sm gap-[2px]">
			<p class="w-full font-GillSans font-medium text-[6px] leading-[6px]">Illus. Runic Arena</p>
			<p class="text-[7px] flex items-center">
				001/151
				<span class="text-[4px] text-white ml-1">★</span>
			</p>
		</div>

		{# Description de la carte #}
		<div class="flex absolute z-20 bottom-[16px] right-[18px] w-[160px] h-[32px] text-right items-center overflow-hidden">
			<p class="card-description w-full font-Mitra font-medium text-[11px] leading-[11px] text-black text-stroke-xs text-right">{{ card.description }}</p>
		</div>

		{# Credits #}
		<div class="absolute z-10 bottom-[4px] left-0 w-full">
			<p class="w-full font-GillSans font-medium text-[6px] leading-[6px] text-black text-center">©2025 Pokemon / Nintendo / Creatures / GAME FREAK</p>
		</div>

		{# Shine effects + glare #}
		{% include '/components/card_effects.html.twig' with {'rarity': 'gold'} %}

	</div>
</div>
