<div id='card-holo' class="card {% if display is defined and not display %} hidden {% endif %}">
	<div
		class="card-content overflow-hidden {% if card.type.value == 'dark' %} text-white {% else %} text-black {% endif %}">

		{# Type de la carte #}
		<img
		src="/assets/template_cards/basic/{{ card.type.name|lower }}.png" alt="{{ card.type.value }}.png" class="card-type relative z-10 w-full h-auto user-drag-none">

		{# Nom de la carte #}
		<p class="card-name absolute font-GillSans font-sem z-20 top-[11px] left-[68px] text-[23px]">{{ card.name }}</p>

		{# PV #}
		<p class="absolute font-GillSans font-bold z-20 top-[7px] right-[46px] text-[8px] tracking-tighter">PV
			<span class="card-hp text-[28px] font-GillSans font-sem tracking-tighter">{{ card.hp }}</span>
		</p>

		{# Image du pokemon #}
		<div class="absolute top-[43px] left-[25px] h-[183px] w-[290px] bg-black user-drag-none z-0">
			<img draggable="false" src="{{ (card.imagePath ? asset('images/cards/' ~ card.imagePath) : '/assets/backgrounds/runicBg.jpg') }}" alt="Image carte" class="card-img h-full w-full object-cover">
		</div>

		{# Attaques de la carte #}
		<div class="attack-content-holo flex justify-center flex-col gap-3 items-center absolute z-20 bottom-[74px] left-[24px] h-[160px] w-[295px] p-1">
			{% set index = 0 %}
			{% for attack in card.attacks %}
				{% set index = index + 1 %}
				<div class="flex flex-col w-full">
					<div class="flex justify-between w-full align-baseline">
						<div class="flex items-center gap-6">
							<div class="energies-{{index}} flex w-[60px] items-center gap-[2px]" data-energy="{{ card.type.name|lower }}">
								{% if attack.cost > 0 %}
									{% for i in 1..attack.cost %}
										<img src="/assets/energies/{{ card.type.name|lower }}.png" alt="energy.png" class="atk-energy w-[17.5px] h-[17.5px] rounded-full">
									{% endfor %}
								{% endif %}
							</div>
							<p class="card-atk{{index}}-title font-GillSans font-sem text-[18px] leading-[18px]">{{ attack.title }}</p>
						</div>
						<p class="card-atk{{index}}-damage font-GillSans font-semibold text-[17px] leading-[18px] tracking-tighter">{{ attack.power }}</p>
					</div>
					<p class="card-atk{{index}}-description font-GillSans font-medium text-[10px] mt-1 break-words leading-none">{{ attack.description }}</p>
				</div>
			{% endfor %}
		</div>

		{# Description de la carte #}
		<div class="flex absolute z-20 bottom-[13px] right-[18px] w-[160px] h-[32px] text-right items-center overflow-hidden">
			<p class="card-description w-full font-Mitra font-medium text-[11px] leading-[11px] text-gray-700 text-right">{{ card.description }}</p>
		</div>

		{# Faiblesse #}
		<div class="absolute font-GillSans z-20 bottom-[53.5px] left-[20px] w-[160px] text-[7px] items-center">
			<p class="text-black">Faiblesse</p>
		</div>

		{# Résistance #}
		<div class="absolute font-GillSans z-20 bottom-[53.5px] left-[107px] text-[7px] items-center overflow-hidden">
			<p class="text-black">Résistance</p>
		</div>

		{# Retraite #}
		<div class="absolute font-GillSans flex z-20 bottom-[52.5px] left-[215px] text-[7px] items-center overflow-hidden gap-1">
			<p class="text-black">Retraite</p>
			<img src="/assets/energies/{{ card.type.name|lower }}.png" alt="energy.png" class="w-[12px] h-[12px] rounded-full">
		</div>

		{# Illustration #}
		<div class="absolute flex flex-col z-20 bottom-[15px] left-[20px] text-black gap-[1px]">
			<p class="w-full font-GillSans font-medium text-[6px] leading-[6px]">Illus. Runic Arena</p>
			<p class="text-[7px] flex items-center">
				001/151
				<span class="text-[8px] text-black ml-[2px]">●</span>
			</p>
		</div>

		{# Credits #}
		<div class="absolute z-10 bottom-[4px] left-0 w-full">
			<p class="w-full font-GillSans font-medium text-[6px] leading-[6px] text-black text-center">©2025 Pokemon / Nintendo / Creatures / GAME FREAK</p>
		</div>

		{# Shine effects + glare #}
		{% include '/components/card_effects.html.twig' with {'rarity': 'basic-holo'} %}
	</div>
</div>
