{% extends 'base.html.twig' %}

{% block title %}Mes cartes
{% endblock %}

{% block body %}
	<div class="container py-8 mx-auto">
		<div class="flex justify-between items-center mb-6">
			<h1 class="text-3xl font-futuraMedium">Mes cartes</h1>
			<!-- Bouton pour créer une nouvelle carte -->
			<a href="{{ path('app_card_create') }}" class="text-white bg-green-500 px-4 py-2 rounded hover:bg-green-600">
				Créer une carte
			</a>
		</div>

		<!-- Grid pour les cartes avec 3 cartes en desktop, 2 en tablette, et 1 en téléphone -->
		<div class="flex flex-wrap justify-center lg:justify-start gap-6">
			{% for card in cards %}
				<div class="p-1 relative block w-[350px]">
					{% if card.imagePath %}
						<div class="card rounded-full">
							<div
								class="card-content relative overflow-hidden {% if card.type.value == 'dark' %} text-white {% else %} text-black {% endif %}">

								{# Type de la carte #}
								<img
								src="/assets/template_cards/{{card.type.value}}.png" alt="{{ card.type.value }}.png" class="relative z-10 w-full h-auto user-drag-none">

								{# Nom de la carte #}
								<p class="absolute font-GillSans font-sem z-20 top-[11px] left-[68px] text-[23px]">{{ card.name }}</p>

								{# PV #}
								<p class="absolute font-GillSans font-bold z-20 top-[7px] right-[46px] text-[8px] tracking-tighter">PV
									<span class="text-[28px] font-GillSans font-sem tracking-tighter">{{ card.hp }}</span>
								</p>

								{# Image du pokemon #}
								<div class="absolute top-[43px] left-[25px] border-black h-[183px] w-[290px] bg-transparent user-drag-none">
									<img draggable="false" src="{{ asset('images/cards/' ~ card.imagePath) }}" alt="Image carte" class="h-full w-full object-cover">
								</div>

								{# Attaques de la carte #}
								<div class="flex justify-center flex-col gap-3 items-center absolute z-20 bottom-[74px] left-[24px] h-[160px] w-[295px] p-1">
									{% for attack in card.attacks %}
										<div class="flex flex-col">
											<div class="flex items-center justify-between w-[280px] align-baseline">
												<div class="flex items-center gap-6">
													<div class="flex w-[60px] items-center gap-[2px]">
														{% if attack.cost > 0 %}
															{% for i in 1..attack.cost %}
																<img src="/assets/energies/{{ card.type.value }}.png" alt="energy.png" class="w-[17.5px] h-[17.5px]">
															{% endfor %}
														{% endif %}
													</div>
													<p class="font-GillSans font-sem text-[18px] leading-[18px]">{{ attack.title }}</p>
												</div>
												<p class="font-GillSans font-semibold text-[17px] leading-[18px] tracking-tighter">{{ attack.power }}</p>
											</div>
											<p class="font-GillSans font-medium text-[10px]">{{ attack.description }}</p>
										</div>
									{% endfor %}
								</div>


								{# Description de la carte #}
								<div class="flex absolute z-20 bottom-[16px] right-[18px] w-[160px] h-[32px] text-right items-center overflow-hidden">
									<p class="w-full font-Mitra font-medium text-[11px] leading-[11px] text-gray-700 text-right">{{ card.description }}</p>
								</div>

								{# Holographic effect #}
								<div class="basic-holo z-40 absolute h-full w-full top-0"></div>

								<!-- Halo lumineux -->
								<div class="halo absolute z-30 top-0 left-0 w-24 h-24 rounded-full pointer-events-none opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>

							</div>
						</div>
					{% endif %}

					<div class="flex justify-between mt-4">
						<a href="{{ path('app_card_edit', { id: card.id }) }}" class="text-white bg-blue-500 px-4 py-2 rounded hover:bg-blue-600">
							Modifier
						</a>

						<!-- Bouton pour afficher la popup -->
						<button data-card-id="{{ card.id }}" data-csrf-token="{{ csrf_token('delete_card_' ~ card.id) }}" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 show-delete-popup">
							Supprimer
						</button>
					</div>
				</div>
			{% endfor %}
		</div>

	</div>

	<script src="{{ asset('js/rotator.js') }}"></script>
	<script src="{{ asset('js/light.js') }}"></script>
	<script src="{{ asset('js/shine-effects.js') }}"></script>
{% endblock %}
