{% extends 'base.html.twig' %}

{% block title %}Mes cartes
{% endblock %}

{% block body %}
	<div class="container py-8 mx-auto">
		<div class="flex justify-between items-center mb-6">
			<h1 class="text-3xl font-futuraMedium">Mes cartes</h1>
			<!-- Bouton pour créer une nouvelle carte -->
			<a href="{{ path('app_card_create') }}" class="text-white bg-green-500 px-4 py-2 rounded hover:bg-green-600">
				Créer une carte
			</a>
		</div>

		<!-- Grid pour les cartes avec 3 cartes en desktop, 2 en tablette, et 1 en téléphone -->
		<div class="flex flex-wrap justify-center lg:justify-start gap-6">
			{% for card in cards %}
				<div class="p-1 relative block w-[350px]">
					{% if card.rarity.value == 'ultra' %}
						{% include '/components/ultra.html.twig' %}
					{% else %}
						{% include '/components/basic.html.twig' %}
					{% endif %}

					<div class="flex justify-between mt-4">
						<a href="{{ path('app_card_edit', { id: card.id }) }}" class="text-white bg-blue-500 px-4 py-2 rounded hover:bg-blue-600">
							Modifier
						</a>

						<!-- Bouton pour afficher la popup -->
						<button data-card-id="{{ card.id }}" data-csrf-token="{{ csrf_token('delete_card_' ~ card.id) }}" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 show-delete-popup">
							Supprimer
						</button>
					</div>
				</div>
			{% endfor %}
		</div>

	</div>

	<script src="{{ asset('js/rotator.js') }}"></script>
	<script src="{{ asset('js/light.js') }}"></script>
	<script src="{{ asset('js/shine-effects.js') }}"></script>
{% endblock %}
